@import 'config';

body {
@include background;
    
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    background-color: $primary-color;
    color: white;
}

// Headings

h1,h2,h3, {
    margin: 0;
    font-weight: 400;
    &.lg-heading{
        font-size: 6rem;
    }
    &.sm-heading{
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($color: $primary-color, $amount: 2), 0.5);
    }
}

// Links 

a {
    color: #fff;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary{
    color: $secondary-color
}

main {
    padding: 4rem;
    height: 100%;
    
    .icons {
        margin-top: 1rem;
        a {
            padding: 0.4rem;
            &:hover{
                color: $secondary-color;
                @include easeOut();
            }
        }
    }

    &#home{
        overflow: hidden;
        h1 {
            margin-top: 20vh;
        }
    }
}









    




